<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>525798401085-a5vn706efmjtdah91cdbgh5lfvm19ihv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525798401085-a5vn706efmjtdah91cdbgh5lfvm19ihv</string>
	<key>API_KEY</key>
	<string>AIzaSyDPb_ItAqDkvDi04_HNXdAe7ZiE8gwEdts</string>
	<key>GCM_SENDER_ID</key>
	<string>525798401085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SolomonStuff.HackerRankMobile.luke</string>
	<key>PROJECT_ID</key>
	<string>led-schlongboard</string>
	<key>STORAGE_BUCKET</key>
	<string>led-schlongboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:525798401085:ios:d7ab62b8e3b25862</string>
	<key>DATABASE_URL</key>
	<string>https://led-schlongboard.firebaseio.com</string>
</dict>
</plist>